@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply font-roboto;
    }
}

.header-1 {
    @apply font-semibold text-2xl;
}

.input_wrapper {
    @apply flex flex-col space-y-2;
}

.custom_container {
    @apply max-w-7xl mx-auto px-2;
}

.input_base {
    @apply border-gray-300 border-[1px] rounded-[3.53px] outline-none  focus:shadow appearance-none;
}

.cta_btn_base {
    @apply rounded-[3.53px] w-full p-3 text-white font-semibold;
}

.link {
    @apply text-blue__;
}

.nav_item {
    @apply flex items-center h-8 space-x-3 rounded-md px-[20%] py-5 cursor-pointer hover:bg-purple transition-all  ease-in-out text-light_gray hover:text-black hover:bg-opacity-60 hover:font-medium;
}

.nav_item > img {
    @apply w-fit object-contain h-8;
}
